<link rel="stylesheet" href="/nav.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=New+Amsterdam&display=swap" rel="stylesheet">
<%- include('font') %>
<nav>
  <h1 id="logo">TodoCare</h1>
  <ul>
    <li id="home"><a href="/">Home</a></li>
    <li id="graph"><a href="/graph">Graph</a></li>
    <li id="about"><a href="/about">About</a></li>
    <li><button id="log"><a href="/logsig">Login/Signup</a></button></li>
  </ul>
</nav>
