<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About | TodoCare</title>
    <link rel="stylesheet" href="/about.css" />
  </head>
  <body>
    <%- include('includes/nav') %>
    <div id="main">
      <h1>About Todocare</h1>
      <p>
        Welcome to Todocare, your personal task management assistant designed to
        help you stay organized and productive. Our platform offers a simple yet
        powerful way to manage your daily tasks with added features that make
        tracking your progress effortless.
        <br /><br>
        At Todocare, we believe that time is one of your most valuable assets.
        That's why we've integrated a unique time-tracking feature that records
        how long it takes for you to complete each task. The data is then
        visualized through intuitive graphs, giving you insights into your
        productivity patterns.
        <br /><br>
        But we don't stop there. At the end of each day, Todocare sends you a
        personalized email summarizing your accomplishments, so you can reflect
        on your progress and stay motivated for the days ahead.
        <br /><br>
        Whether you're managing work, school, or personal projects, Todocare is
        here to help you achieve your goals efficiently and effectively. Join us
        and take control of your day, one task at a time.
      </p>
    </div>
  </body>
</html>
